@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Products.ProductFeatureApplicabilitiesPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.DropDown(m => m.Item.ProductId, Model.Products)
    @Html.DropDown(m => m.Item.ProductFeatureId, Model.ProductFeatures)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>
