@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.ShopAdmin.Orders.BasketItemsAdminPage
<body>
    @Html.Show(m => m.Item.BasketId)
    @Html.Show(m => m.Item.ProductId)
    @Html.Show(m => m.Item.ProductId, Model.ProductName(Model.Item.ProductId))
    @Html.Show(m => m.Item.UnitPrice)
    @Html.Show(m => m.Item.Quantity)
    @Html.Show(m => m.Item.TotalPrice)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>