@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Parties.ContactMechanismsPage;

<body>
@Html.Show(m => m.Item.Id)
@Html.Show(m => m.Item.Street)
@Html.Show(m => m.Item.State)
@Html.Show(m => m.Item.City)
@Html.Show(m => m.Item.Country)
@Html.Show(m => m.Item.ZipCode)
@Html.Show(m => m.Item.ElectronicMail)
@Html.Show(m => m.Item.ValidFrom)
@Html.Show(m => m.Item.ValidTo)
</body>