@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Products.PriceComponentsPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Comment)
    @Html.Editor(m => m.Item.DiscountPercentage)
    @Html.DropDown(m => m.Item.PartyRoleId, Model.PartyRoles)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>
