@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.ShopAdmin.Orders.BasketsAdminPage

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.DropDown(m => m.Item.PartyId, Model.Buyers)
    @Html.Editor(m => m.Item.PartyName)
    @Html.Editor(m => m.Item.PartyAddress)
    @Html.Editor(m => m.Item.TotalPrice)
    @Html.Editor(m => m.Item.ValidFrom)
</body>
