@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Products.ProductFeaturesPage;

<body>
    @Html.Editor(m => m.Item.Id)
    @Html.Editor(m => m.Item.Name)
    @Html.Editor(m => m.Item.Definition)
    @Html.Editor(m => m.Item.NumericCode)
    @Html.Editor(m => m.Item.Color)
    @Html.Editor(m => m.Item.Size)
    @Html.Editor(m => m.Item.ValidFrom)
    @Html.Editor(m => m.Item.ValidTo)
</body>
