@using MaskShop.PagesCore.Common.Extensions;
@model MaskShop.PagesCore.Shop.Products.ProductsPage;

<body>
    @Html.Show(m => m.Item.Id)
    @Html.Show(m => m.Item.Name)
    @Html.Show(m => m.Item.ProductCategoryId, Model.CategoryName(Model.Item.ProductCategoryId))
    @Html.DisplayImageFor(m => m.Item.PictureUri, 150)
    @Html.Show(m => m.Item.Price)
    @Html.Show(m => m.Item.ValidFrom)
    @Html.Show(m => m.Item.ValidTo)
</body>