@page "/orders"

<h3>Orders</h3>


<div class="input-group col-md-5 text-md-right">
    <input name="ProductSearchInput" type="text" class="form-control" placeholder="Order name" @bind="this.SearchTerm" @onkeyup="SearchBoxKeyPress" />
    <div class="input-group-btn">
        <button name="ProductSearchButton" class="btn btn-default" @onclick="SearchClick">
            <i class="oi oi-magnifying-glass" title="search" aria-hidden="true"></i>
        </button>
    </div>
    <div class="input-group-btn">
        <button name="ProductSearchClear" class="btn btn-default" @onclick="ClearSearch">
            <i class="oi oi-x" title="clear" aria-hidden="true"></i>
        </button>
    </div>
    
</div>

@if (_orders == null)
{
    <p>You don't have any orders yet...</p>
}
else
{
    <BSTable IsResponsive="true" class="table">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Buyer ID</th>
                <th>Buyer name</th>
                <th>Contact</th>
                <th>Order status</th>
                @*<th>Total price</th>*@
                <th>Order date</th>
                <th>To</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in _orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Name</td>
                    <td>@order.PartyId</td>
                    <td>@order.PartyNameId</td>
                    <td>@order.ContactMechanismId</td>
                    <td>@order.OrderStatus</td>
                    @*<td>@order.TotalPrice</td>*@
                    <td>@order.ValidFrom</td>
                    <td>@order.ValidTo</td>
                    <td>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-eye text-primary" @onclick="@(async () => await ViewOrder(order.Id))"></BSButton>
                        @*<BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-pencil text-warning" @onclick="@(async () => await EditProduct(product.Id))"></BSButton>
                        <BSButton ButtonType="ButtonType.Link" Color="Color.None" Class="oi oi-trash text-danger" @onclick="@(async () => await DeleteProduct(product.Id))"></BSButton>*@
                    </td>
                </tr>
            }
        </tbody>
    </BSTable>
}


@*<div>
        <BSModal @bind-IsOpen="IsView" Size="Size.Large" IgnoreEscape="true" IgnoreClickOnBackdrop="true">
            <BSModalHeader @onclick="CloseModal">@ModalTitle</BSModalHeader>
            <BSModalBody>
                <div class="col-md-12">
                    <hr/>
                    <h5>Order</h5>
                    <hr/>
                    <BSTable IsResponsive="true" class="table">
                        <thead class="thead-light">
                        <tr>
                            <th>Order</th>
                            <th>Product</th>
                            <th>Product name</th>
                            <th>Product image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total price</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var orderItem in _orderItems)
                        {
                            <tr>
                                <td>@orderItem.OrderId</td>
                                <td>@orderItem.ProductId</td>
                                <td>@orderItem.ProductName</td>
                                <td><img src="@orderItem.PictureUri" width="200"/></td>
                                <td>@orderItem.Quantity</td>
                                <td>@orderItem.TotalPrice</td>

                            </tr>
                        }
                        </tbody>
                    </BSTable>

                    <div class="form-group">
                        <button class="btn btn-primary" @onclick="CloseModal">Back</button>
                    </div>
                </div>
            </BSModalBody>
        </BSModal>
    </div>*@
